.post {
    margin-bottom: 20px;
    border: 1px solid #ccc;
}
    .post > .post-header {
        display: grid;
        grid-template-columns: 50px 1fr 30px;
        gap: 15px;
        padding: 10px;
    }
        .post > .post-header > .avatar {
            width: 100%;
        }
.post > .content {
    
}
    .post > .content > p {
        padding: 10px;
    }
    .post > .content > p.big-size {
        font-size: 32px;
        line-height: 32px;
    }

    .post > .content > p.background {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300px;
        padding: 20px;
        text-align: center;
    }
    .post > .content > p.red {
        background-color:red;
    }

    .post > .content > p.orange {
        background-color:orange;
    }

    .post > .content > p.hidden {
        display: none;
    }
    .post > .content.show > p {
        display: none;
    }
    .post > .content.show > p.hidden {
        display: inline-block;
    }

    .post > .content > p > .more,
    .post > .content > p > .less {
        color: #36f;
        cursor: pointer;
    }
        .post > .content > p > .more:hover {
            text-decoration: underline;
        }
    .post > .content > .gallery {
        display: inline-block;
        width: 100%;
        height: 300px;
    }
        .post > .content > .gallery > .img {
            display: inline-block;
            width: 100%;
            height: 100%;
            float: left;
            position: relative;
        }
            .post > .content > .gallery > .img > img {
                display: inline-block;
                width: 100%;
                height: 100%;
                object-position: center;
                object-fit: cover;
            }
        .post > .content > .gallery.gallery-2 {
            height: 360px;
        }
            .post > .content > .gallery.gallery-2 > .img {
                width: 50%;
            }
        .post > .content > .gallery.gallery-3 {
            height: 400px;
        }
            .post > .content > .gallery.gallery-3 > .img {
                width: 50%;
                height: 50%;
            }
            .post > .content > .gallery.gallery-3 > .img:first-of-type {
                width: 100%;
            }
        .post > .content > .gallery.gallery-4 {
            height: 440px;
        }
            .post > .content > .gallery.gallery-4 > .img {
                width: 50%;
                height: calc(100% / 3);
            }
            .post > .content > .gallery.gallery-4 > .img:first-of-type {
                height: 100%;
            }
            .post > .content > .gallery > .img[data-extra]::before {
                content: '+'attr(data-extra);
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                bottom: 0;
                right: 0;
                top: 0;
                left: 0;
                background-color: #000c;
                color: #fff;
                font-size: 40px;
            }

.post > footer {
    padding: 10px;
}